<div class="bg-dark bg-gradient p-5 rounded-lg text-bg-primary m-3">
    <h1 class="display-4">Bem-vindo ao blog do Node</h1>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
</div>

<hr class="mt-4">

<br>

<h2>Postagens recentes</h2>

{{#each postagem}}
<div class="card bg-light shadow p-2 mb-3 bg-body rounded bg-gradient mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small>{{categoria.nome}}</small>
        <br>
        <small>Data de criação: {{data}}</small>
    </div>
</div>
{{else}}
<h5>Nenhuma postagem registrada.</h5>
{{/each}}
</div>